import { {{camelCase name}} } from './{{camelCase name}}'

export default function Component() {
  const input = [{ snake_case_key: 'value' }]
  const { output } = {{camelCase name}}(input)

  return <div>Processed Output: {output}</div>
}
